Repository benz0li/ghc-musl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:latest-linux-amd64, build:latest-linux-arm64v8, build:version-linux-amd64, build:version-linux-arm64v8, build-manifest:latest-linux-multiarch, build-manifest:version-linux-multiarch

Path conditions:
  build:latest-linux-amd64: any of: latest.Dockerfile
  build:latest-linux-arm64v8: any of: latest.Dockerfile
  build:version-linux-amd64: any of: 9.2.2.Dockerfile
  build:version-linux-arm64v8: any of: 9.2.2.Dockerfile
  build-manifest:latest-linux-multiarch: any of: latest.Dockerfile
  build-manifest:version-linux-multiarch: any of: 9.2.2.Dockerfile

Update GHC to v9.2.3
  latest.Dockerfile
Due: build:latest-linux-amd64, build:latest-linux-arm64v8, build-manifest:latest-linux-multiarch

Refactor .gitlab-ci.yml
  .gitlab-ci.yml
  latest.Dockerfile
Due: build:latest-linux-amd64, build:latest-linux-arm64v8, build-manifest:latest-linux-multiarch

Update README
  README.md
Due: none

Freeze GHC v9.2.3
  .gitlab-ci.yml
  9.2.3.Dockerfile
Due: none

Update GHC to v9.2.4
  .gitlab-ci.yml
Due: none

Freeze GHC v9.2.3 (updated)
  .gitlab-ci.yml
Due: none

Update GHC to v9.2.4 (updated)
  .gitlab-ci.yml
Due: none

Fix .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Freeze GHC v9.2.4
  .gitlab-ci.yml
  9.2.4.Dockerfile
Due: none

Update GHC to v9.4.1
  .gitlab-ci.yml
  latest.Dockerfile
Due: build:latest-linux-amd64, build:latest-linux-arm64v8, build-manifest:latest-linux-multiarch

Freeze GHC v9.4.1
  9.4.1.Dockerfile
Due: none

Update GHC to v9.4.2
  .gitlab-ci.yml
Due: none

Rename branch master to main
  .gitlab-ci.yml
  bootstrap/arm64.Dockerfile
Due: none

Update README
  CODE_OF_CONDUCT.md
  README.md
Due: none

Add Sponsorships (GitHub)
  .github/FUNDING.yml
Due: none

Update License
  LICENSE
Due: none

Update License in README
  README.md
Due: none

Update email in code of conduct
  CODE_OF_CONDUCT.md
Due: none

Add link to similar project
  README.md
Due: none

Update LABELs
  latest.Dockerfile
Due: build:latest-linux-amd64, build:latest-linux-arm64v8, build-manifest:latest-linux-multiarch

Update Sponsorships (GitHub)
  .github/FUNDING.yml
Due: none

Update README and FUNDING
  .github/FUNDING.yml
  README.md
Due: none

Freeze GHC v9.4.2
  9.4.2.Dockerfile
Due: none

Update GHC to v9.4.3
  .gitlab-ci.yml
  latest.Dockerfile
Due: build:latest-linux-amd64, build:latest-linux-arm64v8, build-manifest:latest-linux-multiarch

Freeze GHC version 9.2.5
  .gitlab-ci.yml
  9.2.5.Dockerfile
Due: none

Freeze GHC version 9.2.5 (updated)
  9.2.5.Dockerfile
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Rebuild GHC version 9.4.3
  .gitlab-ci.yml
  latest.Dockerfile
Due: build:latest-linux-amd64, build:latest-linux-arm64v8, build-manifest:latest-linux-multiarch

Freeze GHC v9.4.3
  9.4.3.Dockerfile
Due: none

Update GHC to v9.4.4
  .gitlab-ci.yml
  latest.Dockerfile
Due: build:latest-linux-amd64, build:latest-linux-arm64v8, build-manifest:latest-linux-multiarch

Freeze GHC v9.2.6
  .gitlab-ci.yml
  9.2.6.Dockerfile
Due: none

Rebuild GHC version 9.4.4
  .gitlab-ci.yml
  latest.Dockerfile
Due: build:latest-linux-amd64, build:latest-linux-arm64v8, build-manifest:latest-linux-multiarch

Freeze GHC v9.2.7
  .gitlab-ci.yml
  9.2.7.Dockerfile
Due: none

Update Dockerfiles
  8.10.1.Dockerfile
  8.10.4.Dockerfile
  8.10.5.Dockerfile
  8.10.6.Dockerfile
  8.10.7.Dockerfile
  8.8.4.Dockerfile
  9.0.1.Dockerfile
  9.0.2.Dockerfile
  9.2.1.Dockerfile
  9.2.2.Dockerfile
  9.2.3.Dockerfile
  9.2.4.Dockerfile
  9.2.5.Dockerfile
  9.2.6.Dockerfile
  9.2.7.Dockerfile
  bootstrap/amd64.Dockerfile
  bootstrap/arm64.Dockerfile
Due: build:version-linux-amd64, build:version-linux-arm64v8, build-manifest:version-linux-multiarch

Freeze GHC v9.4.4
  .gitlab-ci.yml
  9.4.4.Dockerfile
Due: none

Fix 9.4.4.Dockerfile
  9.4.4.Dockerfile
Due: none

Update Dockerfiles
  9.2.1.Dockerfile
  9.2.2.Dockerfile
  9.2.3.Dockerfile
  9.2.4.Dockerfile
  9.4.1.Dockerfile
  9.4.2.Dockerfile
  9.4.3.Dockerfile
  9.4.4.Dockerfile
Due: build:version-linux-amd64, build:version-linux-arm64v8, build-manifest:version-linux-multiarch
